.App {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
}
.nav {
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.footer {
    overflow: visible;
}
