.footer {
    color: var(--text-color);
    width: 100%;
    overflow: hidden;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    border-radius: 50% 50% 0 0;
    transform: translateY(-10px);
}

.footer-content {
    background-color: var(--alt-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.footer-left {
    max-width: 400px;
}

.footer-left h2 {
    margin: 0;
    font-size: 30px;
    text-transform: uppercase;
    font-family: cursive;
}

.footer-left p {
    margin: 10px 0;
    font-size: 14px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    margin: 13px;
    font-size: xx-large;
    text-decoration: none;
    color: var(--text-color);
}

.social-media i {
    transition: transform 0.3s;
}

.social-media i:hover {
    transform: scale(1.15);
}

.footer-right {
    min-width: 30vw;
}

.footer-right h3 {
    margin-bottom: 10px;
}

.footer-right form {
    display: flex;
    flex-direction: column;
}

.footer-right input,
.footer-right textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
}

.footer-right textarea::placeholder,
.footer-right input::placeholder {
    color: var(--text-color);
}
.footer-right button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: var(--text-color);
    cursor: pointer;
    transition: transform 0.3s;
}

.footer-right button:hover {
    transform: scale(1.05);
    background-color: #7f7a7ad4;
}
